# Created by .ignore support plugin (hsz.mobi)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*cache/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
venv/
ENV/
.spyderproject
.ropeproject
.gitignore
.idea/
scripts/xcorqc/run.sh
tempworks/
.vscode/
seismic/inventory/IRIS-ALL*
seismic/inventory/output*
*.pkl
**.lprof
seismic/inventory/perfstats.stat
seismic/inventory/LOG_*.txt
seismic/inventory/INVENTORY*.csv
seismic/inventory/INVENTORY*.h5
seismic/inventory/plots**/*.png
seismic/inventory/plots**/*.txt
seismic/inventory/networks/*
seismic/inventory/callgrind.*
seismic/inventory/fdsn_stn_inv_dump.txt
seismic/inventory/vitalstats*.txt

