# Created by .ignore support plugin (hsz.mobi)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*cache/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
venv/
ENV/
.spyderproject
.ropeproject
.gitignore
.idea/
scripts/xcorqc/run.sh
tempworks/
.vscode/
inventory/IRIS-ALL*
inventory/output*
*.pkl
**.lprof
inventory/perfstats.stat
inventory/LOG_*.txt
inventory/INVENTORY*.csv
inventory/INVENTORY*.h5
inventory/plots**/*.png
inventory/plots**/*.txt
inventory/networks/*
inventory/callgrind.*
inventory/fdsn_stn_inv_dump.txt
