Click>=6.0
numpy>=1.9.2
Cython>=0.22.1 # `module load` on NCI
mpi4py==3.0.0
scipy>=0.15.1
PyYAML>=3.11
matplotlib>=1.4.3  # nci version with python=3.4
joblib
obspy>=1.1.0  # 1.0.3 does not have sc3ml read functionality
h5py>=2.6.0
pyasdf
pyqtgraph
pandas
netCDF4>=1.3.0
chardet==3.0.4
lxml>=3.3.5
pyepsg>=0.4.0
ordered-set
pyproj
obspyh5
shapely --no-binary=shapely
geographiclib
cartopy
pytables==3.5.2; sys_platform=='win32'
tables==3.5.2; sys_platform!='win32'
psutil
ujson
deprecated
pyyaml
requests
tqdm
rf==0.8.0
sortedcontainers
scikit-learn
urllib3
pykml
PyWavelets
descartes
numexpr
