sphinx>=1.8
numpy>=1.14.2
pandas
h5py
pyasdf
obspy==1.1.0
pytables; sys_platform=="win32"
tables; sys_platform!="win32"
mpi4py
psutil
#geopandas
pytest>=4.2.0
joblib
click
netcdf4
ujson
deprecated
pyyaml
requests
Cython  # On NCI, use module load
#mpi4py # On NCI, use module load
tqdm
