pytest
coveralls
coverage
pyyaml
numpy
sortedcontainers
h5py
obspyh5
rf==0.8.0
pandas
requests_mock
scikit-learn==0.22.2.post1
click
pathos
ordered_set
PyPDF2==1.26.0
pyasdf==0.5.1
rtree==0.9.7
psutil
netCDF4==1.4.0
pyproj==3.0.1