sphinx>=1.8
ordered-set
numpy>=1.16.4
geographiclib
pytables==3.5.2; sys_platform=="win32"
tables==3.5.2; sys_platform!="win32"
psutil
#geopandas
pytest>=4.6.5
joblib
click
ujson
deprecated
pyyaml
requests
tqdm
sortedcontainers
urllib3
pykml
PyWavelets
