numpy
matplotlib
scipy
scikit-learn
tqdm
obspy
pyasdf
shapely
geographiclib
cartopy
joblib
fastdtw
toeplitz # from git+https://github.com/trichter/toeplitz, requires Fortran compiler
#obspyh5 # What channel to get this from?
rf>=0.8.0
urllib3
